@inject NavigationManager Nav

<nav class="nav">
    <div class="nav-inner container">
        <a class="brand" href="/"><span class="dot"></span> KDU RIBEIRO <span class="tag">Desenvolvedor</span></a>
        <div class="menu">
            <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Início</NavLink>
            <NavLink href="/sistemas" class="nav-link">Sistemas</NavLink>
            <NavLink href="/projetos" class="nav-link">Projetos</NavLink>
            <NavLink href="/downloads" class="nav-link">Downloads</NavLink>
            <NavLink href="/sobre" class="nav-link">Sobre</NavLink>
            <NavLink href="/contato" class="nav-link">Contato</NavLink>
        </div>
    </div>
</nav>
