@page "/homevelha"

<PageTitle>Home</PageTitle>

<link href="cartao-theme.css" rel="stylesheet" />

<div class="main-content">
    <h1>Bem vindo ao novo portal</h1>
    <p>Esta página está em construção.</p>

    <div class="download-links">
        <a href="/instaladores/geradorcertauto.7z">Clique aqui para baixar o instalador do </a>
        <br /><br />
        <a href="/instaladores/controleestoque.7z">Clique aqui para baixar o instalador do ControleEstoque</a>
        <br /><br />
        <a href="/instaladores/bloqueadorurlhost.7z">Clique aqui para baixar o Bloqueador De Url</a>
    </div>
</div>