@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Bem vindo ao novo portal.</p>

<p>Esta página está em construção.</p>

<br />
<br />
<br />
<a href="/instaladores/geradorcertauto.7z">Clique aqui para baixar o instalador do GeradorCertAuto</a>
<br />
<br />
<br />
<a href="/instaladores/controleestoque.7z">Clique aqui para baixar o instalador do ControleEstoque</a>
<br />
<br />
<br />
<a href="/instaladores/bloqueadorurlhost.7z">Clique aqui para baixar o Bloqueador De Url</a>